body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f9f9f9;
}

header {
    background: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

button {
    padding: 0.5rem 1rem;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#posts-container {
    padding: 2rem;
}

.post {
    background: white;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.post title {
    margin-top: 0;
}

.post small {
    color: gray;
}

.post p {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

#new-post {
    padding: 2rem;
    background: #fff;
    margin-bottom: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

#new-post input,
#new-post textarea {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
}

#new-post button {
    padding: 0.5rem 1rem;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
